/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

@import url(http://fonts.googleapis.com/css?family=Raleway:600,400,500,300,200,100);

// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


$bodyColor : #f0f0f0;
$specialGreenColor : #0c8f7f;
$specialTextGreenColor : rgb(46, 189, 170);
$specialCarrotColor : #f26522;

$arialFont : Arial, Arial, Helvetica, sans-serif;
$Raleway: 'Raleway', sans-serif;


$RalewayMedium: 500 'Raleway', sans-serif;


.hidden {
  display: none;
}

body {
  background: $bodyColor;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}
a {color:#333;}      /* unvisited link */
a:visited {color:rgba(51, 51, 51, 0.81);}  /* visited link */
a:hover {
  color:#326;
  text-decoration: none;
}
a:active {color:#0000FF;}  /* selected link */

.main-wrapper {
  width: 91%;
  max-width: 1180px;
  margin: auto;
}


@media (min-width: 1200px) {
  .page-wrapper {
    //width: 1170px;
  }
}

.green-dark-color {
  color: $specialTextGreenColor;
}

header {

  &.page-header {
    //background: #32b38c;
    background-image: url("../images/papio_header_img.jpg");
    background-repeat: no-repeat;
    background-color: $bodyColor;;
    background-position:center;
    //background-size: 100%;
    margin: 0;
    padding: 10px 40px;
    color: #fff;
    text-align: center;

    #logo {
      margin: 48px 0 20px 0;
      display: inline-block;
      img {
        width: 100%;
        max-width: 322px;
      }
    }

    .header-line {      
      margin: 10px auto;
      position: relative;
      color: #000;
      display: block;

      p {
        text-align: center;
        background: $bodyColor;
        margin: 0 auto;
        display: inline-block;
        padding: 9px 45px;
        font-size: 20px;
      }
    }

    .header-line-two {
      margin: 15px 0 20px 0;
    }

    .block-papio-core {
      text-align: center;
      position: relative;
      margin-top: 81px;
      .global-bows-count {
        right: 20px;
        position: absolute;
        top: 0;
        font-size: 21px;
        label.global-bows-count-title {
          margin-bottom: 3px;
          display: block;
          font-size: 27px;
          font-weight: 500;
        }
        .global-bows-count-itself {
          span {
            padding: 2px 5px;
            background: $bodyColor;
            margin: 0;
            color: $specialGreenColor;
            font-family: $arialFont;
            font-size: 24px;
          }
        }
      }
    }
  }
}

// Reset views styles.
.views-exposed-form .views-exposed-widget {
  float: none; 
  padding: 0;
}

.view-empty {
  text-align: center;
}
.views-exposed-widget {
  text-align:center;


  &.views-widget-filter-field_sex_tid {
    margin-top:62px;
    .bef-select-as-links {

      .form-type-bef-link {
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: top;
        padding:0;
        margin: 3px 12px;
        padding:0;
        /*margin:0;*/

        a {
          position:relative;
          display:block;
          .category-image {
            font-size:0;
            img{
              width: 100%;
              max-width: 280px;
            }
          }
          .category-title {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: white;
            font-size: 30px;
            font-weight: 600;
            background: rgba(241, 206, 140, 0.73);
            text-transform: uppercase;

            span {
              line-height: 90px;
            }
          }
        }

      }
    }
  }

  &.views-widget-filter-field_color_type_tid {
    margin-top:50px;
    margin-left: -22px;
    text-align:center;
    float: none;
    clear:both;
    overflow:hidden;
    font-size:22px;
    text-transform: lowercase;

    .bef-select-as-links {

      .form-type-bef-link {
        display: inline-block;
        margin: 3px 10px;
        a {
          text-decoration: none;
          &:hover {
            color: $specialCarrotColor;
          }
        }

        &.bef-select-as-links-selected {
          a {
            color: $specialCarrotColor;
          }
        }

        &.form-item-edit-color-type-all,
        &.selected-edit-color-type-all {
          a {
            width: 31px;
            height: 13px;
            top: 9px;
            display: inline-block;
            position: relative;
          }
        }

        &.form-item-edit-color-type-all a {
          background: url("../images/papion.png") 0 13px;
        }

        &.selected-edit-color-type-all a,
        &.form-item-edit-color-type-all:hover a {

          background: url("../images/papion.png") 31px 0;
        }
      }
    }
  }
}

.view-main-list, .view-id-photo_list {
  .view-content {
    text-align: center;
    margin: 40px auto 0 auto;
    width:100%;
    // right: -5px; // Fix the last row image widht difference.
    .views-row {
      text-align: left;
      display:inline-block;
      font-size: 0;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      vertical-align: top;
      padding:0;
      margin: 4px 3px;

      article {
        position: relative;
        cursor: default;
        .group-main-initial {
          overflow:hidden;
          .field-name-field-new {
            position: absolute;
            right: 20px;
            top: 20px;
            float: left;
            background: #f26522;
            padding: 4px 0;
            z-index: 99;
            width: 100px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            font-weight: 300;
            &.on-top {
              top: 0;
            }
            &.on-bottom {
              bottom:0;
            }
          }
          .field-name-field-image {
            font-size:0;
            .field-item {
              text-align:center;
              img {
                width: 100%;
                max-width: 280px;
              }
            }
          }
        }

        .group-overlay-data {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: white;
          overflow: hidden;
          background: rgba(51, 51, 51, 0.5);
          font-family: $arialFont;
          .field-group-format-wrapper {
            width: 100%;
            position:absolute;
            bottom:5px;
            left: 35px;
            .field-name-field-sku {
              padding: 0px 0 0px 0px;
              position:relative;
              width:100%;
              font-size: 20px;
              //&:after {
              //  background: url("../images/price_bg.png") no-repeat;
              //  content: '';
              //  position: absolute;
              //  width: 100%;
              //  height: 13px;
              //  margin: 0px 0 0px 0;
              //  margin-left: -11px;
              //  margin-top: -3px;
              //}
            }
            .field-name-field-price {
              padding: 0px 0 5px 0px;
              font-size: 30px;
              margin-top: 7px;
            }
          }
        }
      }
    }
  }
}

// <Start> Specific Mereni Photo styles.
.page-mereni {
  .page-title {
    text-align: center;
  }
}
// <End> Specific Mereni Photo styles.

.pager {
  margin-top:57px;
  font-family: $arialFont;    
  font-size: 20px;
  li {
    padding:0;

    a, &.pager-current {
      text-decoration: none;
      background-color: #fff;
      color:#a3a3a3;
      display: inline-block;
      padding: 11px 24px;

      &:hover, &:focus {
        color: #f16625;
      } 
    }

    &.pager-current {
      color: #f16625;
      cursor:default;
    }

    &.pager-last, &.pager-first {
      display: none;
      visibility: hidden;
    }
  }
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;

  li {
    display: inline;
    a {
      text-decoration: none;
      margin: 4px 10px;
      /*padding: 5px 20px 5px 20px;*/
      color: #85848a;
      background: none;
      width: 52px;
      height: 52px;
      display: inline-block;
      /*float: left;*/

      cursor: pointer;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;

      // original
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out;

      // end original

      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      transition: all ease 0.3s;

      &:hover {
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
      }
    }

    &[rel="fb"] a {
      background: url("../images/social/social_icons.png") 0 0;
    }
    &[rel="fb"] a:hover {
      background: url("../images/social/social_icons.png") 0 52px;
    }

    &[rel="twitter"] a {
      background: url("../images/social/social_icons.png") -210px 0;
    }
    &[rel="twitter"] a:hover {
      background: url("../images/social/social_icons.png") -210px 52px;
    }

    &[rel="yt"] a {
      background: url("../images/social/social_icons.png") 52px 0px;
    }
    &[rel="yt"] a:hover {
      background: url("../images/social/social_icons.png") 52px 52px;
    }
  }
}

// Use different background for footer socialbuttons.
section.footer {
  .social-buttons ul {

    li {
      &[rel="fb"] a {
        background: url("../images/social/social_icons_footer.png") 0 52px!important;

      }
      &[rel="fb"] a:hover {
        background: url("../images/social/social_icons_footer.png") 0 0!important;
      }

      &[rel="twitter"] a {
        background: url("../images/social/social_icons_footer.png") -208px 52px!important;
      }
      &[rel="twitter"] a:hover {
        background: url("../images/social/social_icons_footer.png") -208px 0!important;
      }

      &[rel="yt"] a {
        background: url("../images/social/social_icons_footer.png") 52px 52px!important;
      }
      &[rel="yt"] a:hover {
        background: url("../images/social/social_icons_footer.png") 52px 0px!important;
      }
    }
  }
}

.footer {
  text-align: center;
  background: $specialGreenColor;
  color: #fff;

  .block {
    margin-bottom: 0;


    p {
      margin: 0;
    }

    .footer-container {
      display: inline-block;
      position:relative;

      &.lateral-container {
        vertical-align: top;
        top:100px;

        &.left-container{
          right:50px;
        }

        &.right-container{
          left:50px;
        }

        .inner {

          //position:absolute;
        }
        p {
          font-size: 22px;
          font-weight: 300;
          &.text {
            margin-top: 6px;
          }
        }
      }
    }

    .footer-order {
      padding-top: 60px;
      p {
        font-size: 26px;
      }
    }

    .footer-phone {
      padding-top: 20px;
      p {
        font-size: 27px;
        font-weight: 200;
      }
    }

    .additional-info {
      padding-top: 30px;
      p {
        color: $specialTextGreenColor;
        font-size: 50px;
        font-weight: 100;
      }
    }
    .social-buttons{
      padding: 10px 0 30px 0;
    }
    .footer-credits {      
      padding: 0px 0 5px 0;
      small {
        font-size: 14px;
        padding: 0 0 2px 0;
        display: inline-block;
      }
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          color: $specialCarrotColor
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  header.page-header .block-papio-core .global-bows-count {
    position: relative;
    right:0;
  }

  header.page-header {  
    background-position-x: -1160px;
  }

  header.page-header #logo {
    margin: 0px 0 5px 0;
  }

  header.page-header .block-papio-core {
    margin-top: 20px;
  }
  header.page-header .header-line p {
    font-size: 18px;
  }
  header.page-header .block-papio-core .global-bows-count label.global-bows-count-title {
    font-size: 25px;
  }
  header.page-header .block-papio-core .global-bows-count {
    font-size: 12px;
  }

  .pager {
    text-align: center;
    margin-left: 31px;
  }

  .views-exposed-widget.views-widget-filter-field_color_type_tid {
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */


}

@media (max-width: 972px) {

}

@media (max-width: 1400px) {

  .page-header {
    //background-size: cover!important;
  }
}

@media (min-width: 1400px) {

  .left-container{
    right:130px;
  }

  .right-container{
    left:130px;
  }
}

@media (max-width: 1200px) {
  .lateral-container {
    display: none!important;
  }
}

@media (max-width: 380px) {
  .views-exposed-widget.views-widget-filter-field_color_type_tid .bef-select-as-links .form-type-bef-link {
    display: block;
  }
}



