/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

@import url(http://fonts.googleapis.com/css?family=Raleway);

// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


$bodyColor : #f0f0f0;
$specialGreenColor : #0c8f7f;
$specialTextGreenColor : #2ebdaa;
$specialCarrotColor : #f26522;


.hidden {
  display: none;
}

body {
  background: $bodyColor;
  font-family: 'Raleway', sans-serif;
}
a {color:#333;}      /* unvisited link */
a:visited {color:rgba(51, 51, 51, 0.81);}  /* visited link */
a:hover {
  color:#326;
  text-decoration: none;
}
a:active {color:#0000FF;}  /* selected link */

.main-wrapper {
  width: 80%;
  max-width: 972px;
  margin: auto;
}


@media (min-width: 1200px) {
  .page-wrapper {
    //width: 1170px;
  }
}

.green-dark-color {
  color: $specialTextGreenColor;
}

header {

  &.page-header {
    //background: #32b38c;
    background-image: url("../images/papio_header_img.jpg");
    background-repeat: no-repeat;
    background-color: $bodyColor;;
    background-position:center;
    margin: 0;
    border-bottom: 3px solid #333;
    padding: 10px 40px;
    color: #fff;
    text-align: center;

    #logo {
      margin: 20px 0 20px 0;
      display: inline-block;
      img {
        width: 100%;
        max-width: 280px;
      }
    }

    .header-line {      
      margin: 10px auto;
      position: relative;
      color: #000;
      display: block;
      p {
        text-align: center;
        background: $bodyColor;
        margin: 0 auto;
        display: inline-block;
        padding: 5px 10px;
        font-size: 17px;
      }
    }

    .header-line-two {
      margin-bottom: 20px;
    }

    .block-papio-core {
      text-align: center;
      position: relative;
      .global-bows-count {
        right: 20px;
        position: absolute;
        top: 0;
        font-size: 21px;
        label.global-bows-count-title {
          margin-bottom: 3px;
          display: block;
          font-size: 22px;
        }
        .global-bows-count-itself {
          span {
            padding: 2px 3px;
            background: $bodyColor;
            margin: 0;
            color: $specialGreenColor;
          }
        }
      }
    }
  }
}

// Reset views styles.
.views-exposed-form .views-exposed-widget {
  float: none; 
  padding: 0;
}

.views-exposed-widget {
  text-align:center;
  margin-top:20px;

  &.views-widget-filter-field_sex_tid {

    .bef-select-as-links {

      .form-type-bef-link {
        display: inline-block;
        margin: 3px 6px;

        a {
          position:relative;
          display:block;
          .category-image {
            font-size:0;
            img{
              width: 100%;
              max-width: 219px;
            }
          }
          .category-title {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            color: white;
            font-size: 30px;
            font-weight: bold;
            background: rgba(51, 51, 51, 0.5);

            span {
              line-height: 108px;
            }
          }
        }


      }
    }
  }

  &.views-widget-filter-field_color_type_tid {
    text-align:center;
    float: none;
    clear:both;
    overflow:hidden;

    .bef-select-as-links {

      .form-type-bef-link {
        display: inline-block;
        margin: 3px 10px;
        a {
          text-decoration: none;
          &:hover {
            color: $specialCarrotColor;
          }
        }
      }
    }
  }
}

.view-main-list {
  .view-content {
    text-align: center;
    margin: 0 auto;
    width:100%;
    // right: -5px; // Fix the last row image widht difference.
    .views-row {
      text-align: left;
      display:inline-block;
      /* For IE 7 */
      zoom: 1;
      *display: inline;
      vertical-align: top;
      padding:0;
      //margin-bottom: 5px;
      margin:3px;

      article {
        position: relative;
        cursor: default;
        .group-main-initial {
          overflow:hidden;
          .field-name-field-new {
            position: absolute;        
            right: 0;
            top: 3%;
            //bottom:10%;
            float: left;
            background: $specialCarrotColor;
            //background: rgba(50, 179, 140, 0.6);
            padding: 8px 8px;
            z-index: 99;
            h2 {
              font-size: 20px;
              margin:0;
              a {
                color:#fff;
                font-size: 20px;
              }
            }
            &.on-top {
              top: 0;
            }
            &.on-bottom {
              bottom:0;
            }
          }
          .field-name-field-image {
            font-size:0;
            .field-item {
              text-align:center;
              img {
                width: 100%;
                max-width: 220px;
              }
            }
          }
        }

        .group-overlay-data {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: white;
          overflow: hidden;
          background: rgba(51, 51, 51, 0.5);
          .field-group-format-wrapper {
            width: 100%;
            position:absolute;
            bottom:5px;
            .field-name-field-sku {
              padding: 5px 0 5px 15px;
              position:relative;
              width:100%;
              &:after {
                background: url("../images/price_bg.png") no-repeat;
                content: '';
                position: absolute;
                width: 100%;
                height: 20px;
                margin: 0px 0 0px 0;
                margin-left: -5px;
              }
            }
            .field-name-field-price {
              padding: 5px 0 5px 15px;
              font-size: 20px;
              margin-top: 7px;
            }
          }
        }
      }
    }
  }
}

.pager {
  text-align: left;
  margin-left: 31px;
  margin-top:45px;
  li {

    padding:0;

  

    
    
    a, &.pager-current {
      text-decoration: none;
      background-color: #fff;
      color:#a3a3a3;
      display: inline-block;
      padding: 6px 23px;

      &:hover, &:focus {
        color: #f16625;
      } 
    }
    
      &.pager-current {
      color: #f16625;
      cursor:default;
    }
    
    
    

    &.pager-last, &.pager-first {
      display: none;
      visibility: hidden;
    }
  }
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;

  li {
    display: inline;
    a {
      text-decoration: none;
      margin: 4px;
      /*padding: 5px 20px 5px 20px;*/
      color: #85848a;
      background: none;
      width: 52px;
      height: 52px;
      display: inline-block;
      /*float: left;*/

      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out;
      cursor: pointer;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }

    &[rel="fb"] a {
      background: url("../images/social/social_icons.png") 0 0;
    }
    &[rel="fb"] a:hover {
      background: url("../images/social/social_icons.png") 0 52px;
    }

    &[rel="twitter"] a {
      background: url("../images/social/social_icons.png") -208px 0;
    }
    &[rel="twitter"] a:hover {
      background: url("../images/social/social_icons.png") -208px 52px;
    }

    &[rel="yt"] a {
      background: url("../images/social/social_icons.png") 52px 0px;
    }
    &[rel="yt"] a:hover {
      background: url("../images/social/social_icons.png") 52px 52px;
    }
  }
}

.footer {
  text-align: center;
  background: $specialGreenColor;
  color: #fff;

  .block {
    margin-bottom: 0;

    .additional-info {
      color: $specialTextGreenColor;
      font-size: 25px;
      p {
        //padding: 0 0 2px 0;
      }
    }
    .footer-credits {

      small {
        font-size: 13px;
        padding: 0 0 2px 0;
        display: block;
        &:first-child {
          font-size: 13px;
        }      
      }
      a {
        text-decoration: none;
        color: $specialTextGreenColor;
        &:hover {
          color: $specialCarrotColor
        }
      }
    }

    p {
      margin: 0;
      padding: 10px 0;
    }
  }
}


@media only screen and (max-width: 767px) {
  header.page-header .block-papio-core .global-bows-count {
    position: relative;
    right:0;
  }
  .pager {
    text-align: center;
    margin-left: 31px;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media (max-width: 972px) {
  .pager {
    margin-left: 0;
  }
}